
body {
    font-family: Avenir;
    color: #503A00;
    background: #F1F1F1;

}
@font-face {
    font-family: AvenirH;
    src: url('Avenir Heavy.ttf') 
  }

@font-face {
    font-family: Avenir;
    src: url('Avenir Medium.ttf') 
  }


#titel {
width:361px;
height: 66px;
position:absolute;
top:52px;
left:15px;
font-family: AvenirH;
text-align: center;
color: #121212;
text-transform: uppercase;

}
#rules {
  width:361px;
  height:459px;
  position:absolute;
  top:59px;
  left:15px;
  color: #121212;
}

#span1 {
  font-family: AvenirH;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  white-space: pre-line;

}
#span2 {
  font-family: Avenir;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  white-space: pre-line;
  white-space: pre-line;

}

#text {
width:361px;
height:459px;
position:absolute;
top:59px;
left:15px;
color: #121212;
font-family: Avenir;
font-weight: 500;
line-height: 25px;
letter-spacing: -0.02em;
text-align: left;
white-space: pre-line;
}
#bot {
  position: absolute;
  top: 382px;
  left: 0px;}
#next_rule {
  width: 135px;
  height: 77px;
  position: absolute;
  top: 497px;
  left: 221px;
  border-radius: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(199, 199, 199, 0.1);
  z-index: 2; 
}  
#arrows_next {
  position: absolute;
  top: 520px; /* 距离顶部的距离 */
  left: 281px; /* 距离左侧的距离 */
  transform: rotate(180deg);
  width: 17px;
  height: 30.91px;  
  z-index: 3;

}
#previous_rule {
width: 135px;
height: 77px;
position: absolute;
top: 497px;
left: 36px;
border-radius: 40px;
background: #FFFFFF;
box-shadow: 0px 2px 6px 0px rgba(199, 199, 199, 0.1);
z-index: 2; 
}

#arrows_previous {
  position: absolute;
  top: 520px; /* 距离顶部的距离 */
  left: 94px; /* 距离左侧的距离 */
  width: 17px;
  height: 30.91px;
  z-index: 3;
}

